<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>com.briancmaci.$(PRODUCT_NAME:rfc1034identifier)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb767843809990226</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>FacebookAppID</key>
	<string>767843809990226</string>
	<key>FacebookDisplayName</key>
	<string>locality</string>
	<key>FlickrAppKey</key>
	<string>eed0fb5b4385bba52245c35ae5071899</string>
	<key>FlickrAppSecret</key>
	<string>10fabf7c3e4ae03e</string>
	<key>GoogleMapsAPIKey</key>
	<string>AIzaSyDB8jIBu3FXYKljpz0n4mlEf9U5c8nEfXk</string>
	<key>MapBoxAccessToken</key>
	<string>pk.eyJ1IjoiYnJpYW5jbWFjaSIsImEiOiJlNGZkNGRiOTZlYzBiMTJiOGJiMzA4NzdiOGRmMWE2NSJ9.nU_n7E8n5J4uoetH-rD8MA</string>
	<key>MapBoxMapID</key>
	<string>briancmaci.f8755712</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>By accessing your location, locality will keep you current with what&apos;s around you.</string>
	<key>ParseApplicationID</key>
	<string>JqpwyHSApOHZYJxGdkw4slUfzSaI8goWCTaKEWQD</string>
	<key>ParseClientKey</key>
	<string>f3Yxk5prY341ChR5Tulnk9bbkegqbYJDDZ3uzGjR</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>Interstate-LightCondensed.otf</string>
	</array>
</dict>
</plist>
